<nav>
<a class = "link_button" href = "/">Home</a>
<a class = "link_button" href = "/users/<%=current_user.id%>"><%=current_user.username%>Main Page</a>
<a class = "link_button" href = "/logout">Log Out</a>
<a class = "link_button" href = "/movies/new">Add New Movie</a>
</nav>

<h2>Create New Movie: </h2>
<form method = "post" action = "/movies/:id">
<p> Movie Name: <input type = "text" name = "movie[name]"></p>
<p> Year: <input type = "text" name = "movie[year]"></p>
<p> Description: <input type = "text" name = "movie[description]"></p>
<p> Link for a image: <input type = "text" name = "movie[pic_url]"></p>
<input type = "submit" value = "Create New Movie">
</form>

