<h2> Login Page </h2>
<p id = "error_message"><%= @message %></p>
<form method = "post" action = "/login">
<p>Username: <input type = "text" name = "username" placeholder="username"></p>

<p>Password: <input type = "text" name = "password" placeholder="password"></p>

<input type = "submit" value = "Login">
</form>
