<nav>
<a  class = "link_button" href = "/"> Home </a>
<a  class = "link_button" href = "/users/<%=@user.slug%>"><%=@user.username%> Main Page </a>
<a  class = "link_button" href = "/logout"> Log Out </a>
</nav>


<table>
	<tr id = "review">
		<th> Movie</th>
		<th> Stars</th>
		<th> Review</th>
	</tr>
	<tr>
		<% @user.ratings.each do |rating|%>
		<td><%= rating.movie.name %></td>
		<td><% rating.star.times do %>
			&#11088;
			<% end %>
		</td>
		<td><%= rating.review %></td>
		<% end %>
	</tr>
</table>