<h2> Sign Up Page </h2>
<p id = "error_message"><%= @message %></p>
<form method = "post" action = "/signup">
<p>Username: <input required type = "text" name = "username" placeholder="username" value="<%= @user.username %>"></p>

<p>Email : <input required type = "email" name = "email" placeholder="email" value="<%= @user.email %>"></p>

<p>Password: <input required type = "password" name = "password" placeholder="password"></p>

<input type = "submit" value = "Create User">
</form>