<h2> Sign Up Page </h2>
<p id = "error_message"><%= @message %></p>
<form method = "post" action = "/signup">
<p>Username: <input type = "text" name = "username" placeholder="username"></p>

<p>Email : <input type = "text" name = "email" placeholder="email"></p>

<p>Password: <input type = "text" name = "password" placeholder="password"></p>

<input type = "submit" value = "Create User">
</form>
