
<nav>
<a  class = "link_button" href = "/"> Home </a>
<a  class = "link_button" href = "/users/<%=@user.slug%>"><%=@user.username%> Main Page </a>
<a  class = "link_button" href = "/logout"> Log Out </a>
</nav>

<h2> rating page main </h2>
