<!DOCTYPE html>
<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Jim+Nightshade" rel="stylesheet">
 
  <link rel="stylesheet" href="../../css/style.css?ts=<?=time()?>&quot;" >
    <title>WIKIMOVIA</title>
  </head>
  <body>
      <h1> <a href = "/">Wikimovia</a></h1>
    <%= yield %>
  </body>
</html>
